
    <div id="wrapper">

        <!-- Sidebar -->
        <%= render 'layouts/sidebar' %>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span id="icon" class="glyphicon glyphicon-chevron-left"></span></a>
                        <h1>Administratorski panel</h1>
                        <p>Brzi linkovi:</p>
                        <a href="<%=users_path%>" style="display:block">Lista korisnka</a>
                        <a href="<%=admin_panel_cipele_path%>" style="display:block">Lista cipela</a>
                        <a href="<%=new_shoe_path%>" style="display:block">Dodavanje cipele</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        if ($("#icon").attr("class")=="glyphicon glyphicon-chevron-left"){
          $("#icon").removeClass();
          $("#icon").addClass("glyphicon glyphicon-chevron-right");
        }
        else{
          $("#icon").removeClass();
          $("#icon").addClass("glyphicon glyphicon-chevron-left");
        }

        $("#wrapper").toggleClass("toggled");
    });
    </script>
