
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Panel
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Korisnici <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="<%=users_path%>">Lista korisika</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-arrows-v"></i> Kategorije <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo1" class="collapse">
                        <li>
                            <a href="#">Pregled</a>
                        </li>
                        <li>
                            <a href="#">Brisanje</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-arrows-v"></i> Cipele <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo2" class="collapse">
                        <li>
                            <a href="#">Pregled</a>
                        </li>
                        <li>
                            <a href="#">Dodavanje</a>
                        </li>
                        <li>
                            <a href="#">Dodavanja varijanti</a>
                        </li>
                        <li>
                            <a href="#">Izmjena</a>
                        </li>
                        <li>
                            <a href="#">Brisanje</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span id="icon" class="glyphicon glyphicon-chevron-left"></span></a>
                        <h1>Administratorski panel</h1>
                        <p>Brzi linkovi</p>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        if ($("#icon").attr("class")=="glyphicon glyphicon-chevron-left"){
          $("#icon").removeClass();
          $("#icon").addClass("glyphicon glyphicon-chevron-right");
        }
        else{
          $("#icon").removeClass();
          $("#icon").addClass("glyphicon glyphicon-chevron-left");
        }

        $("#wrapper").toggleClass("toggled");
    });
    </script>
