@import "bootstrap";

body {
  padding-top: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color:#fff;
}

.floated {
   float:left;
   margin-right:5px;
}

.navbar-inverse .navbar-brand {
  color:#fff;
}

.cart-payment{
  color: #f0f;
  h4{
    margin-top: 15px;
  }
}
