@import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 30px;
}

select{
padding: 4px;
}

.navbar-inverse .navbar-nav > li > a {
  color:#fff;
}

.height-filler{
  padding-top: 14px;
}

.login-form{
  background-color: #f6f6f6;
  padding:15px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
}

.btn-dark-grey{
  background-color: #404040;
  color: #ffffff;
}

.btn-dark-grey:hover{
  color: orange;
}

.btn-dark-grey:focus{
  color: orange;
}

.btn-inverse{
  background-color: black;
  color: white;
}



.right-align{
  float: right;
  margin-left: 5px;
}

.floated {
   float:left;
   margin-right:5px;
}

.navbar-inverse .navbar-brand {
  color:#fff;
}

.cart-payment{
  width: auto;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin-top: 88px;
  margin-bottom: 15px;
  h4{
    margin-top: 15px;
  }
  p{
    padding-right: 0%;
  }
}

.k-p-d{
  margin-bottom: 10px;
  .korpa{
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  .dostava{
    color: #B3BABD;
    border-bottom: 2px solid #B3BABD;
  }
  .placanje{
    color: #B3BABD;
    border-bottom: 2px solid #B3BABD;
  }
  .dostava2{
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  .placanje2{
    font-weight: bold;
    border-bottom: 2px solid black;
  }
}

.payment-info-box{
  border: 1px solid #ddd;
  border-radius: 5px;
  strong{
    display: block;
    padding: 2px 5px;
  }
}

.info-form{
  background-color: #f6f6f6; /* DEF2FA  */
  padding:15px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 3px;
  margin-bottom: 15px;

}

.slect{
  width: 90%;
}

.bootstrap-select>.btn{
  width: 70%;
}
