<div class="col-md-5">
   <img src="<%=@shoe.imgurl%>" class="img-responsive">
</div>

<div class="col-md-4">
<p>
  <strong>Naziv:</strong><br>
  <%=@shoe.name%>
</p>
<p>
  <strong>Cijena:</strong><br>
  <%=@shoe.price%>
</p>
<p>
  <%=@shoe.price%>
</p>
</div>
