<div>
<h1>Store#index</h1>
<h2>Ovdje treba prikazivati artikle, trenutno nemam bazu</h2>
<h3>Neka raspored bude da lici na SPA </h3>
</div>


<%= link_to "Nabacani bootstrap elementi",store_dummy_path %>
